@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

html {
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.link-underline {
  position: relative;
}

.link-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #427549;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link-underline-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.link-underline-finished::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
